@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body{
  @apply bg-base-white;
}

@layer components {
  .option_card {
    @apply bg-gradient-to-bl from-blue-600 to-indigo-600
          text-stone-200 text-center font-semibold
          py-2 rounded-xl
          w-50 
          shadow-sm;
    @apply select-none cursor-pointer;
    @apply transition-all duration-300;
    @apply hover:scale-105 hover:shadow-md hover:from-blue-600 hover:to-indigo-700 
          active:scale-95 active:shadow-2xs
          focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500;
  }
  .question_wrong {
    @apply border-red-400 border bg-red-100/35;
  }

  .test_button {
    @apply bg-white dark:bg-gradient-to-r dark:from-gray-950 dark:to-stone-950 dark:text-blue-300 py-2 px-4 rounded-lg shadow-sm text-sm w-fit flex items-center gap-2 border border-stone-300 dark:border-blue-500 select-none
    active:shadow-md active:scale-95 transition-all duration-300 text-stone-600 active:dark:border-blue-300;
  }

  .base_question_card {
    @apply p-4 rounded-lg bg-white dark:bg-gradient-to-br dark:from-gray-950 dark:via-stone-950 dark:to-gray-950 dark:text-white dark:border dark:border-blue-500 shadow-lg space-y-4;
  }


  .question_number {
    @apply bg-stone-700 rounded-full aspect-square h-9 text-white text-center flex items-center justify-center;
  }
  
  .question_card_header {
    @apply flex items-center gap-2 mb-4;
  }

  .question_select {
    @apply px-2 py-1 appearance-none focus:ring-0 active:ring-0 border-b outline-none
    text-stone-500
    transition-all
    focus:border-blue-600 focus:border-b-2 focus:-translate-y-2 focus:text-blue-800;
  }

  .option_wrong {
    @apply border-red-600;
  }

}

@layer base {
  h1 {
    @apply font-bold text-4xl
  }

  h2 {
    @apply font-semibold text-3xl
  }

  h3{
    @apply text-2xl font-semibold mb-2
  }

  h4 {
    @apply font-semibold mb-2
  }
  .button_gradient {
    @apply bg-gradient-to-r from-blue-600 to-pink-600
    transition-all active:from-blue-700 active:to-pink-700 active:scale-95;
  }
}

@theme {
  --color-dark: #2f2f2f;
  --color-base-white: #f4f4f4;
}